.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 18px 30px;
  font-size: 16px;
  font-family: "Messina Sans", sans-serif;
  background-color: var(--pear);
  border: 2px solid var(--pear);
  color: var(--black-900);
  height: 48px;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 600;
}

.button:hover {
  transition: 0.2s background;
  background-color: var(--black-800);
  color: var(--pear);
}

.button:disabled {
  background-color: var(--black-800);
  border: 2px solid var(--black-800);
  color: var(--white);
  cursor: not-allowed;
}
