@import url("../fonts/messina/stylesheet.css");

:root {
  --white: #fff;
  --gray: #e7e7e7;
  --black-800: #1b1b1b;
  --black-900: #0a0a0a;
  --pear: #d3f13a;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Messina Sans", sans-serif;
  background: var(--black-800);
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
